<launch>
  <!-- Caméra -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="camera_link" />
    <param name="io_method" value="mmap"/>
    <param name="fps" value="30" />
  </node>

  <!-- Détecteur ArUco -->
  <node name="aruco_detector" pkg="adaptive_robot_planning" type="aruco_detector.py" output="screen" />

  <!-- Détecteur d'objets avec ArUco -->
  <node name="camera_detection" pkg="adaptive_robot_planning" type="camera_detection_node.py" output="screen" />
</launch>